header {
  background-color: #454545;
}

.Links {
  display: inline;
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
}


.Navbar {
  display: inline-block;
  color: #fff;
  text-decoration: none;
  vertical-align: middle;
  font-size: 20px;
  margin: 10px;
  font-family: 'Open Sans', sans-serif;
  padding-left: 20px;
  padding-right: 20px;
  text-align: right;
}

.Links1 {
  text-align: right;
}